<p>
    <mat-toolbar style="background-color:#007bff" >
      <a routerLink="" id="logo"><span>Student App</span></a>
      <span class="example-spacer"></span>
      <a  routerLink="" id="logo" mat-button class="anchor">Home</a>
      <a routerLink="" id="logo" mat-button class="anchor">Services</a>
      <a routerLink="/students" id="logo" mat-button class="anchor">Students</a>
      <a  routerLink="/login" mat-raised-button class="links">Login</a>
      <a routerLink="/register" mat-raised-button class="links">Register</a>
    </mat-toolbar>
  </p>


  
